#div1
{
	background-image: url("movieback.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:50em;
    margin-top:0em;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    //font-weight: bold;

}
#div2
{   margin-top:0em;
	z-index:3;
	height:auto;
    //background-color:yellow;
    padding-top:5em;
    padding-bottom:10em;
    font-family:'Vollkorn', serif;
    font-size:18px;
}
#welcome1
{    color:#FFFAFA;
	font-size:75px;
	//font-family:Georgia;
	
	//font-weight:bold;
	margin-top:4em;
	margin-left:7em;
    z-index:3;

}
#welcome2
{    color:#FFFAFA;
	font-size:46px;
	//font-family:Georgia;
	
	//font-weight:bold;
	margin-top:0em;
	margin-left:-6em;
    z-index:3;

}
#scrolldown
{    color:#00008B;
    font-size:40px;
    font-family:Georgia;
    
    font-weight:bold;
    margin-top:0em;
    margin-left:3em;

}

#infodiv
{margin-top:3em;

}
#div3
{
	background-image: url("movieback.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:50em;
    margin-top:0em;
    background-size: cover;

}
#div4
{   margin-top:0em;
	z-index:3;
	height:auto;
	//background-color: yellow;
    padding-top:5em;
    padding-bottom:10em;
    font-family:'Vollkorn', serif;
    font-size:18px;
}
#scroll{
        width:100px;
        height:100px;
}

#feature1,#feature2
{
	border-style:double;
	padding:20px;
	font-size:22px;

}
input[type=text], select 
{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus
{
    border:1px solid black;
}

#comparison
{
    margin-top:5em;
}